* {
  margin: none;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  background-color: #C6E9F6
} */

h1 {
  font-family: "Montserrat";
  color: white;
  font-size: 200px;
  text-transform: uppercase;
  letter-spacing: 20px;
  height: 50px;
  text-align: center;
}

h2 {
  font-family: "Montserrat";
  color: white;
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 20px;
  height: 20px;
  text-align: center;
}

.name {
  display: block;
  padding: 40px 20px;
  height: 40px;
  align-content: flex-start;
  border-radius: 10px;
  font-size: 40px;
  color: white;
  border: none;
  font-family: "Montserrat";
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin: 20px;
  float: center;
}

input {
    width: 400px;
    padding: 0 20px;
    float: center;
}

input,
input::-webkit-input-placeholder {
  line-height: 3;
  border-radius: 10px;
  border: none;
  font-style: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #C6E9F6;
  background-color: white;
  font-size: 10px;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat";
  color: white;
  font-size: 60px;
  padding: 1%;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* max-width: 100%;
  min-height: 600px; */
  background-color: #C6E9F6;
}

.wrapper {
  position: fixed;
  background-image: url("../img/day-01.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
}

.startBtn {
  font-weight: 800;
  line-height: 3;
  border-radius: 10px;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 40px;
  color: #C6E9F6;
  text-align: center;
  padding: 0 20px;
  width: auto;
  background-color: white;
  display: flex;
  font-size: 24px;
  color: #C6E9F6;
  border: none;
  margin: 20px;
  display: block;
  margin: 0 auto;
}

.submit {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 10px;
  line-height: 3;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  color: #C6E9F6;
  text-align: center;
  padding: 0 20px;
  width: auto;
  background-color: white;
  color: #C6E9F6;
  margin: 30px 40px;
}

/* .daytime {
  position: relative;
  height: 100px;
  width: 100%;
} */
.cow {
  width: 30%;
  height: 35%;
  position: absolute;
  top: 1100;
  left: 1000;
  float: right;
}

.age {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 10px;
  font-weight: 600;
  color: #C6E9F6;
  border: none;
  font-family: "Montserrat";
  margin: 20px;
  line-height: 3;
  border-radius: 10px;
  border: none;
}

.mood {
  position: relative;
  margin: 40px;
  align-items: center;
  padding: 150px;
  float: right;
}

.play {
  background: url("../img/play2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 400px;
  height: 400px;
  border: none;
}

.feed {
  background: url("../img/feed2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 400px;
  height: 400px;
  border: none;
}

.sleep {
  background: url("../img/nap2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 400px;
  height: 400px;
  border: none;
}

/* .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  flex-flow: wrap;
  align-content: baseline;
  padding: 10px 10px;
  background-color: #C6E9F6;
  font-family: "Montserrat";
}

.signup {
  width: 425px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.media {
  position: absolute;
  max-width: 2%;
  text-align: left;
  margin: 8px;
} */
